@charset "UTF-8";

#c{
	display: grid;
	grid-template-rows: 50px 50px 50px 50px 50px;
	grid-template-columns: 120px 120px 120px 120px;
}
#bed{
	grid-row-start: 2;
	grid-row-end: 6;
	grid-column-start:1;
	grid-column-end:2
	
}
img{
	width:120px;
}
#msgbox{
	width: 680px;
	height: 160px;
	grid-row-start:2;
	text-align: left;
}